@import "../../app";
@import "../../common";

.record-list {
  @include flex-center;
  justify-content: flex-start;
  background-color: $themeBackgroundColor;
}

.tag {
  display: inline-block; //因为tag自动适应父元素的宽度
  color: $themeColor;
  text-align: center;
  border-radius: 20rpx;
  background-color: darken($themeBackgroundColor, 10%);
  padding: 0.5em;
  margin: 1em 0 0.5em 0;
  word-break:keep-all;
  font-size: $smallFontSize;
}

.modal {
  width: 700rpx;
  margin: 0 auto;
  .item {
    border-radius: 20rpx;
    background-color: lighten($themeBackgroundColor, 20%);
    color: darken($themeBackgroundColor, 10%);
    padding: 0.5em;
    margin: 20rpx auto;
    transition: 200ms linear;
    text {
      display: inline-block;
      vertical-align: middle;
    }
    text:nth-child(1) {
      width: 20%;
    }
    text:nth-child(2) {
      width: 70%;
      padding-right: 5%;
      box-sizing: border-box;
      @include omit(70%);
    }
    text:nth-child(3) {
      width: 10%;
      text-align: right;
    }
    &.modal-item-hover {
      color: $themeColor;
      background-color: darken($themeBackgroundColor, 10%);
    }
  }
}

.loading-hinder {
  text-align: center;
  font-size: $smallFontSize;
  color: $darkenWhite;
  line-height: 100rpx;
  .anim {
    width: 100rpx;
    height: 100rpx;
  }
}