@import '../../app';
.container {
  background-color: $themeBackgroundColor;
}

.sta-container {
  width: 700rpx;
  padding: 10rpx;
  margin: 0 auto;
  background-color: $themeColor;
  canvas {
    margin: 0 auto;
  }
}

#mychart-dom-bar {
  height: 50vh;
}

#sta-bar {
  height: 30vh;
}

.progress-group {
  width: 750rpx;
  height: 500rpx;
}