@import '../../app';
@import "../../common";

#mychart-dom-bar,
.txt-container,
#sta-bar {
  width: 90vw;
}

#mychart-dom-bar {
  canvas {
    height: 50vh;
    width: 90vw;
  }
}

.txt-container {
  color: $themeColor;
  box-sizing: border-box;
  background-color: lighten($themeBackgroundColor, 10%);
  padding: 0.5em 1em;
  border-radius: 10rpx;
  line-height: 1.5em;
  text-align: justify;
  font-size: $smallFontSize;
}

#sta-bar {
  margin-top: 1em;
  canvas {
    width: 90vw;
    margin: 0 auto;
    height: 30vh;
  }
}