/* pages/monitor-appinfo-diagram/monitor-appinfo-diagram.scss */

@import "../../app.scss";

$navHeight: 60rpx;
$navBarWidth: 3px;

.page-content {
  background-color: $themeBackgroundColor;
}

.nav {
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-wrap: nowrap;
  justify-content: space-around;
  button {
    flex-grow: 1;
    background: none;
    font-size: 14px;
    color: darken($darkenWhite, 10%);
  }
}


/* 图表内容 */
.diagram-container {
  font-size: 100px;
  color: $darkenWhite;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  height: $navHeight;
  line-height: $navHeight;
}

.nav-item.activated {
  color: $darkenWhite;
  border-bottom: $navBarWidth solid $darkenWhite;
  border-radius: 0;
  transition-duration: 200ms;
}