$pageBackgroundColor: #E9F1F7;

.nav {
  display: flex;
  align-items: center;
  line-height: 2em;
  text-align: center;
  .item {
    color: white;
    transition: 300ms linear;
    padding: 0.5em 1em;
    flex-grow: 1;
    &.checked {
      flex-grow: 0;
      color: black;
      background-color: $pageBackgroundColor;
    }
  }
}

.page {
  height: 100%;
}
