@import "../../app.scss";

$listItemHeight: 100rpx;
$pageBackgroundColor: #F7F7F7;
$listIconSize: 50rpx;
$quotaHeight: 100rpx;
$quotaItemHeight: 80rpx;

canvas {
  width: 700rpx;
  height: 280px;
  display: block;
  margin: 0 auto;

}

.header {
  background-color: $themeBackgroundColor;
  color: white;
  overflow: hidden;
  transition-duration: 300ms;
  transition-timing-function: linear;
  .bio {
    text-align: center;
    height: 100rpx;
    line-height: 100rpx;
    background-color: rgba(#F9FBB2, 0.25);
    margin: 0 1em;
    border-radius: 10rpx;
  }
}


.outline {
  position: relative;
}

.arrow-right {
  position: absolute;
  right: 20rpx;
  top: 300rpx;
  height: 120rpx;
  width: 80rpx;
}

/*************************************应用总览图表***********************************************/
.canvas-nav {
  display: flex;
  justify-content: center;
  .item {
    border-radius: 15rpx;
    padding: 0 1em;
    font-size: 12px;
    border: 1px solid $themeColor;
    &.checked {
      background-color: $themeColor;
      color: $themeBackgroundColor;
    }
    &:nth-child(1) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:nth-child(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

/*类型单选按钮组  */
.types-group {
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 1001;
  &.stuck {
    position: fixed; top: 0;
  }
  &.hidden {
    display: none;
  }
}

.types-group > .type-item {
  flex-grow: 1;
  background-color: $themeBackgroundColor;
  text-align: center;
  color: $darkenWhite;
}

.types-group > .type-item.checked {
  background-color: $darkenWhite;
  color: $lightenBlack;
}

.type-radio {
  margin-bottom: 5rpx;
  border: none;
  box-sizing: border-box;
  padding: 10rpx 0;
}


/* 图表列表  */
.list-item {
  border-bottom: 1px solid lightgrey;
  font-size: 14px;
  height: $listItemHeight;
  text {
    line-height: $listItemHeight;
    height: $listItemHeight;
  }

  .icon,
  .collect,
  .enter {
    height: $listIconSize;
    width: $listIconSize;
    padding: ($listItemHeight - $listIconSize) / 2;
  }

  .icon {
    float: left;
  }

  .collect {
    float: right;
    margin-right: 80rpx;
  }

  .enter {
    float: right;
    image {
      height: $listIconSize;
      width: $listIconSize;
    }
  }
}

/* 列表一级子项 */
.quota-group {
  display: unset;
}

.quota-list {
  background-color: $pageBackgroundColor;
}

.quota-container {
  box-shadow: 0 0 30px 0 darken($pageBackgroundColor, 10%);
  max-height: $quotaHeight;
  transition: 300ms linear 0ms;
  overflow: hidden;
  &.open {
    max-height: $quotaHeight * 10;
    .collapse-btn {
      transform: rotate(90deg);
    }
  }
}

.quota {
  background-color: $darkenWhite;
  height: $quotaHeight;
  padding-left: 1em;
  text {
    height: $quotaHeight;
    line-height: $quotaHeight;
  }
  .collapse-btn {
    height: $listIconSize;
    width: $listIconSize;
    float: right;
    margin: ($quotaHeight - $listIconSize)/2 $listIconSize / 4;
    //margin: $quotaHeight / 4 1em 0;
    transition: 150ms linear 0ms;
  }
  .quota-items-num {
    float: right;
    height: $listIconSize;
    width: $listIconSize;
    margin: ($quotaHeight - $listIconSize) / 2  $listIconSize / 4;
    text-align: center;
    border-radius: 100%;
    background-color: $themeBackgroundColor;
    text {
      color: $themeColor;
      line-height: $listIconSize;
      height: $listIconSize;
    }
  }
}

/* 列表二级子项 */
.quota-item {
  height: $quotaItemHeight;
  padding-left: 1.5em;
  background-color: $pageBackgroundColor;
  border-top: 1px solid darken($pageBackgroundColor, 10%);
  text {
    height: $quotaItemHeight;
    line-height: $quotaItemHeight;
  }
  .collect,
  .enter {
    height: $listIconSize;
    width: $listIconSize;
    padding: ($quotaItemHeight - $listIconSize) / 2 $listIconSize / 4;
    float: right;
  }
}

.hidden {
  display: none;
}