@import "../../app.scss";

$appCardWidth: 375rpx;
$appCardHeight: 375rpx;

.container {
  .app-list {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.app {
  position: relative;
  display: inline-block;
  width: $appCardWidth;
  height: $appCardHeight;
  line-height: $appCardHeight - 16rpx;
  color: $darkenWhite;
  background-color: $themeBackgroundColor;
  text-align: center;
  transition-duration: 150ms;
  .title {
    position: relative;
    z-index: 1001;
    font-size: 16px;
    display: inline-block;
    max-height: 300rpx;
    max-width: $appCardWidth;
    overflow: hidden;
  }
  label {
    font-size: 18px;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
  }
  .mask,
  image,
  navigator {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .mask {
    background-color: $themeBackgroundColor;
    opacity: 0.3;
    transition-duration: 200ms;
  }
}

.app-hover {
  .mask {
    opacity: 1;
  }
}