/* pages/announcement/announcement.wxss */

page{
  background: #2C75B3;
}
.title{
 font-size: 1.2em;
 text-align: center;
   border-bottom: 1px #ffffff solid /*高度、颜色、实线*/
}

.font{
  color:#ffffff;
margin-right:10px;
  margin-left: 10px; }


