/* pages/monitor/monitor.scss */
@import "../../app.scss";

$appCardWidth: 375rpx;
$appCardHeight: 375rpx;

.container {
  .app-list {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }
}

.app {
  display: inline-block;
  width: $appCardWidth;
  height: $appCardHeight;
  color: $darkenWhite;
  box-sizing: border-box;
  background-color: $themeBackgroundColor;
  text-align: center;
  border: 1px solid $themeColor;
  transition-duration: 150ms;
  text {
    line-height: $appCardHeight;
    height: $appCardHeight;
  }
}

.app-hover {
  color: $lightenBlack;
  background-color: $darkenWhite;
  border: none;
}