@import "../../app.scss";

$appCardWidth: 375rpx;
$appCardHeight: 375rpx;

.container {
  .app-list {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }
}

.app {
  display: inline-block;
  width: $appCardWidth;
  height: $appCardHeight;
  line-height: $appCardHeight - 16rpx;
  color: $darkenWhite;
  //box-sizing: border-box;
  background-color: $themeBackgroundColor;
  text-align: center;
  transition-duration: 150ms;
  label {
    height: 100%;
    width: 100%;
    display: block;
  }
}

.app-hover {
  color: $lightenBlack;
  background-color: $darkenWhite;
  border: none;
}