.nodzimg2 {
  background: url(空心);
  background-size: 100%;
}
 
.dzimg2 {
  background: url(实心);
  background-size: 100%;
}

.post {
    float: right;
    position: fixed;
    top: 50px;
    right: 20rpx; 

}