@import "../../app";
@import "../../common";

.tag {
  background-color: darken($themeBackgroundColor, 10%);
  font-size: $smallFontSize;
  padding: 0.5em;
  border-radius: 20rpx;
  width: 10em;
  text-align: center;
  margin: 0 auto 1em auto;
}

.hint {
  font-size: $smallFontSize;
  color: $darkenWhite;
  text-align: center;
}

.hint,
.pane {
  margin: 30rpx auto 0 auto;
}

.pane {
  color: $themeColor;
  width: 90%;
  overflow: hidden;
  border-radius: 10rpx;
  .pane-header {
    font-size: $bigFontSize;
    height: 2em;
    line-height: 2em;
    padding-left: 1em;;
  }
  .pane-content {
    overflow: hidden;
    background-color: lighten($themeBackgroundColor, 10%);
    padding: 0 1em 1em 1em;
    .segment {
      overflow: hidden;
      margin-top: 1em;
      line-height: 1.5em;
      .key {
        display: inline-block;
        float: left;
        width: 25%;
        box-sizing: border-box;
        border-right: 1px solid $darkenWhite;
      }
      .value {
        text-indent: 0;
        padding-left: 0;
        float: right;
        width: 70%;
        max-height: 10rem;
        text-align: left;
        display: inline-block;
      }
    }
  }
}

.upper {
  .pane-header {
    background-color: #F06543;
  }
}

.lower {
  .pane-header {
    background-color: #8EA8C3;
  }
}