$themeBackgroundColor:#2C75B3; //主题背景色
$themeColor: #FFFFFF; //主题文字色
$darkenWhite: snow;
$lightenBlack: #25231F;
$defaultFontSize: 16px;
$smallFontSize: 12px;
$bigFontSize: 18px;
$pageBackgroundColor: #E9F1F7;

@mixin flex-center {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin full-page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

page {
  background-color: #E9F1F7;
  font: {
    family: Helvetica, serif;
    size: $defaultFontSize;
  };
}

.view-like-btn {
  position:unset;
  padding:0;
  box-sizing:unset;
  border-radius:unset;
  font-size:unset;
  color:unset;
  background-color:unset;
  text-align:unset;
  line-height:unset;
  overflow:unset;
}

::-webkit-scrollbar { //隐藏默认滑动条
  width: 0;
  height: 0;
  color: transparent;
}

//图片按比列响应式缩放并自动裁剪： https://blog.csdn.net/oulihong123/article/details/54601030
.zoomImage{
  width:100%;
  height:0;
  padding-bottom: 40vh;
  overflow:hidden;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
}


.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  word-break: break-word; // 解决过长英文单词不不换行的问题
}

.hidden { //小程序里没有wx;show这样的控制指令，自己写个hidden代替
  display: none;
}

.transparent {
  opacity: 0;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*************************************status-page***********************************/
status-page {
  background-color: $themeBackgroundColor;
  @include full-page;
}

