$themeBackgroundColor:#2C75B3; //主题背景色
$themeColor: #FFFFFF; //主题文字色
$darkenWhite: snow;
$lightenBlack: #25231F;
$defaultFontSize: 16px;
$smallFontSize: 12px;
$bigFontSize: 18px;
$pageBackgroundColor: #E9F1F7;
$navigationHeight: 40px;
$statusHeight: 25px;
$tabBarHeight: 100rpx;

@mixin flex-center {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin full-page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@mixin omit ($width: 12em) {
  max-width: $width;
  /* 超出的文本内容隐藏 */
  overflow: hidden;
  /* 超出显示省略号 */
  text-overflow: ellipsis;
  /* 强制不换行 */
  white-space: nowrap;
}

.hidden { //小程序里没有wx;show这样的控制指令，自己写个hidden代替
  display: none !important;
}