@import "../../common";

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page {
  z-index: 1010;
  &.loading,
  &.error {
    @include full-page;
    @include flex-center;
    image {
      width: 100rpx;
      height: 100rpx;
      margin-top: -100rpx;
    }
  }
  &.loading,
  &.error {
    background-color: #2C75B3;
    color: $themeColor;
  }
}