@import "../../app";
@import "../../common";

$listItemHeight: 100rpx;
$itemTagHeight: 50rpx;
$itemTabBackgroundColor: #8EA8C3;
$exceptionNumHinderRadius: 30rpx;

/*******************************************图表************************************/
canvas {
  width: 700rpx;
  height: 280px;
  display: block;
  margin: 0 auto;
}


/*******************************************头部概览信息************************************/
.header {
  background: $themeBackgroundColor;
  color: $themeColor;
  position: relative;
  overflow: visible;
  padding-bottom: 2em;
  box-sizing: border-box;
  width: 100%;
  .custom-navigation {
    height: 2em;
    line-height: 2em;
    font-size: $bigFontSize;
    margin-top: 1em;
    padding-left: 1em ;
  }
  .cir {
    margin: 0 auto;
  }
  .view-history {
    position: absolute;
    right: 1em;
    bottom: 15rpx;
    font-size: $smallFontSize;
  }
  .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #F4E04D;
    image {
      width: 150rpx;
      height: 150rpx;
    }
  }
}

/*******************************************label-page-nav************************************/
.nav {
  background-color: lighten($themeBackgroundColor, 10%);
}

scroll-view.container {
  position: relative;
  color: $lightenBlack;
  z-index: 2;
  .body {
    width: 100%;
  }
}

/*******************************************主体列表模块************************************/
.body {
  width: 100%;
  .head {
    color: dimgrey;
    font-size: $smallFontSize;
    padding:  0 80rpx 0 30rpx;
    height: 70rpx;
    line-height: 70rpx;
    background-color: $darkenWhite;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    text:nth-child(2) {
      float: right;
    }
  }
  .placeholder {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .empty {
      margin: 0 auto;
      height: 150rpx;
      width: 150rpx;
    }
    text {
      font-size: $smallFontSize;
      color: #dbdbdb;
    }
  }
}



/***************************************列表项*************************************************/
.list-item {
  background-color: $darkenWhite;
  &:nth-child(n + 2) {
    //box-shadow: 0 0 20px 0 darken($pageBackgroundColor, 10%);
  }
  //border-bottom: 1px solid darken($pageBackgroundColor, 5%);
  height: $listItemHeight;
  line-height: $listItemHeight;
  transition: 500ms linear 0ms;
  overflow: hidden;
  &.app-item-hover {
    background-color: white;
  }

  image {
    float: right;
    height: $itemTagHeight;
    width: $itemTagHeight;
    margin: ($listItemHeight - $itemTagHeight)/2 10rpx 0;
  }
  .tag {
    float: right;
    height: $itemTagHeight;
    margin: ($listItemHeight - $itemTagHeight)/2 10rpx 0;
  }
  .dot {
    float: left;
    display: inline-block;
    width: 15rpx;
    height: 15rpx;
    margin: ($listItemHeight - 15rpx)/2 1rem 0 30rpx;
    background-color: tomato;
    box-shadow: 0 0 5px tomato;
    border-radius: 100%;
  }
  .title {
    display: inline-block;
    max-width: 12em;
    /* 超出的文本内容隐藏 */
    overflow: hidden;
    /* 超出显示省略号 */
    text-overflow: ellipsis;
    /* 强制不换行 */
    white-space: nowrap;
  }
}

.tag {
  line-height: 0;
  max-width: 6em;
  overflow: hidden;
  vertical-align: middle;
  padding: 0 0.5em;
  text-align: center;
  border-radius: 10rpx;
  display: inline-block;
  color: $darkenWhite;
  background-color: $itemTabBackgroundColor;
  //box-shadow: h-shadow v-shadow blur spread color inset;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) inset;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  text {
    line-height: $itemTagHeight;
    height: $itemTagHeight;
    font-size: $smallFontSize;
  }
}

.loading-hinder {
  box-shadow: 0 0 20px 0 darken($pageBackgroundColor, 10%);
  text-align: center;
  height: $listItemHeight;
  line-height: $listItemHeight;
  font-size: $smallFontSize;
  color: lighten($lightenBlack, 50%);
}