@import "../../app.scss";

$appItemHeight: 100rpx;
$itemTagHeight: 50rpx;
$itemTagFontSize: 12px;
$itemTabBackgroundColor: #8EA8C3;
$exceptionNumHinderRadius: 30rpx;

.container {
  background-color: $pageBackgroundColor;
  align-items: stretch;
}

/*******************************************头部概览信息************************************/
.header {
  background: $themeBackgroundColor;
  color: $themeColor;
  position: relative;
  overflow: visible;
  padding-bottom: 2em;
  box-sizing: border-box;
  width: 100%;
  .cir {
    margin: 0 auto;
  }
  .view-history {
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-size: 14px;
  }
}


/*******************************************label-page-nav************************************/
.nav {
  background-color: lighten($themeBackgroundColor, 10%);
}

scroll-view.container {
  position: relative;
  color: $lightenBlack;
  z-index: 2;
  .body {
    width: 100%;
  }
}


/* 列表一级子项 */
.app-item-container {
  background-color: $themeColor;
  //box-shadow: 0 0 15px 0 darken($pageBackgroundColor, 10%);
  border-bottom: 1px solid  darken($pageBackgroundColor, 5%);
  max-height: $appItemHeight;
  transition: 500ms linear 0ms;
  overflow: hidden;
  &.open {
    max-height: $appItemHeight * 10;
    image {
      transform: rotate(90deg);
    }
  }
}

.app-item-hover {
  background-color: darken($themeColor, 10%);
}

.app-item {
  display: flex;
  height: $appItemHeight;
  padding-left: 1em;
  align-items: center;
  & > text {
    display: inline-block;
    line-height: $appItemHeight;
    flex-grow: 1;
    overflow: hidden;
  }
  image {
    height: $appItemHeight / 2;
    width: $appItemHeight / 2;
    margin: 0 0.5em;
  }
}

.tag {
  max-width: 6em;
  overflow: hidden;
  height: $itemTagHeight;
  vertical-align: middle;
  padding: 0 0.5em;
  text-align: center;
  border-radius: 10rpx;
  display: inline-block;
  color: $darkenWhite;
  background-color: $itemTabBackgroundColor;
  //box-shadow: h-shadow v-shadow blur spread color inset;
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.2) inset;
  border:1px solid rgba(0, 0, 0, 0.03);
  box-sizing:border-box;
  text {
    line-height: $itemTagHeight;
    height: $itemTagHeight;
    font-size: $itemTagFontSize;
  }
}

/* 列表二级子项 */
.exception-item {
  height: $itemTagHeight;
  text-indent: 2em;
  background-color: $pageBackgroundColor;
  border-top: 1px solid darken($pageBackgroundColor, 10%);
  text {
    height: $itemTagHeight;
    line-height: $itemTagHeight;
  }
}

.loading-hinder {
  text-align: center;
  height: $appItemHeight;
  line-height: $appItemHeight;
  font-size: 14px;
  color: lighten($lightenBlack, 50%);
}